__pycache__
docs_viagens_word
DocumentosWord
GPT
imagens
normas_word
RES_ Política e Procedimentos
testes
.env
.gitignore
Arquitetura - Suprimentos.pdf
bases.zip
categorizador_prompt.txt
erro.txt
imagens - Atalho.lnk
langchain_teste-IEGNTBALU0603.py
langchain_teste-IEGNTBALU1003.py
langchain_teste.py
logs-IEGNTBALU0603-2.log
logs-IEGNTBALU0603.log
logs-IEGNTBALU0646-2.log
logs-IEGNTBALU0646.log
logs-IEGNTBALU1003-2.log
logs-IEGNTBALU1003-3.log
logs-IEGNTBALU1003.log
outros.txt
palavras_chaves.zip
Pasta1.xlsx
perguntas.txt
prompt_normas-IEGNTBALU0646.txt
prompts.docx
RES_ Política e Procedimentos.zip
tempCodeRunnerFile.py
teste_final.py
teste_gemini_base.py.py
teste_palavras_chave_normas.py
teste3.py
teste4.py
testeimagens.py
testepalavras.py
testepalavraschave.py
viagens.txt
video_perguntas.mp4