<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat Suprimentos</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="shortcut icon" href="static/img/logo_jbs.svg" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"">
</head>
<body class="flex flex-col md:flex-row h-screen w-screen">
    
    <div id="erroOverlay" class="div-overlay">
        <div class="erro-container">
            <h1>Ocorreu um erro</h1>
            <p>O chat não está funcionando no momento</p>
            <div class="button-container">
                <button id="tente_novamente">Tente novamente</button>
            </div>
        </div>
    </div>
    

 
    <div id="hamburger" class= "md:hidden flex items-center justify-between text-white py-4 px-6">
        <button id="hamburgerBtn" class="text-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
        </button>
    </div>
 
    <div id="sidebar"
        class="overflow-auto z-10 text-white w-60 space-y-6 px-4 py-2 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
        <button id="closeBtn" class="absolute top-0 right-0 mt-4 mr-4 text-white focus:outline-none md:hidden">
            <svg class="w-6 h-6" fill="none" stroke="#ffffff" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <div>
            <div class="mencoes top-logo-text-container flex items-center mb-4 sm:mt-1">
            <a href="https://institutojef.org.br/escolas/tech/" rel="next" target="_blank"><img src="static/img/logo_jef.svg" alt="Logo" class="logo" style="width: 80px;"></a>
            <span style="background: white; height: 30px; width: 1px; margin-left: 10px; margin-right: 10px;"></span>
            <a href="https://gedaijef.com/" rel="next" target="_blank"><h2 class="text-start font-semibold ">GEDAI</h2></a>
        </div>
        </div>
        <p class="text-base font-semibold">CHAT SUPRIMENTOS</p>
        <p class="text-sm text-blue-100">Consulte de maneira rápida e fácil os procedimentos</p>

        <nav>
            <div class="container-processos">
                <a href="../static/pdfs/Adiantamento_fornecedores_materiais_servicos_jbs.pdf" target="_blank"><button class="cor_1 w-full text-center px-4 py-2 mt-2 rounded-md ">Adiantamento a Fornecedores de Materiais e Serviços JBS</button></a>
                <a href="../static/pdfs/Combustiveis.pdf" target="_blank"><button class="cor_1 w-full text-center px-4 py-2 mt-2 rounded-md ">Combustíveis</button></a>
                <a href="../static/pdfs/Compra_recebimento_biomassa.pdf" target="_blank"><button class="cor_1 w-full text-center px-4 py-2 mt-2 rounded-md ">Compra e Recebimento de Biomassa</button></a>
                <a href="../static/pdfs/Contratacao_materiais_servicos.pdf" target="_blank"><button class="cor_2 w-full text-center px-4 py-2 mt-2 rounded-md ">Contratação de Materiais e Serviços</button></a>
                <a href="../static/pdfs/Contratacao_serviços_rh.pdf" target="_blank"><button class="cor_3 w-full text-center px-4 py-2 mt-2 rounded-md ">Contratação de Serviços para RH</button></a>
                <a href="../static/pdfs/Locacao_veiculos.pdf" target="_blank"><button class="cor_3 w-full text-center px-4 py-2 mt-2 rounded-md ">Locação de Veículos</button></a>
                <a href="../static/pdfs/Manual_de_Viagens/Manual_Adiantamento_JBS_2024.pdf"target="blank"><button class="cor_4 w-full text-center px-4 py-2 mt-2 rounded-md ">Manual de Adiantamento JBS</button></a>
                <a href="../static/pdfs/Manual_de_Viagens/Manual_Adiantamento_Seara_2024.pdf"target="blank"><button class="cor_4 w-full text-center px-4 py-2 mt-2 rounded-md ">Manual de Adiantamento Seara</button></a>
                <a href="../static/pdfs/Manual_de_Viagens/Manual_Reembolso_JBS_2024.pdf"target="blank"><button class="cor_5 w-full text-center px-4 py-2 mt-2 rounded-md ">Manual de Reembolso JBS</button></a>
                <a href="../static/pdfs/Manual_de_Viagens/Manual_Reembolso_Seara_2024.pdf"target="blank"><button class="cor_6 w-full text-center px-4 py-2 mt-2 rounded-md ">Manual de Reembolso Seara</button></a>
                <a href="../static/pdfs/Manual_de_Viagens/Manual_Viagens_WEB_Paytrack.pdf"target="blank"><button class="cor_6 w-full text-center px-4 py-2 mt-2 rounded-md ">Manual de Viagens - Paytrack</button></a>
                <a href="../static/pdfs/Operacoes_marketing_midia.pdf" target="_blank"><button class="cor_7 w-full text-center px-4 py-2 mt-2 rounded-md ">Operações de Marketing e Mídia</button></a>
                <a href="../static/pdfs/Produtos_quimicos.pdf" target="_blank"><button class="cor_7 w-full text-center px-4 py-2 mt-2 rounded-md ">Compra de Produtos Químicos</button></a>
                <a href="../static/pdfs/Procedimento_importacao.pdf" target="_blank"><button class="cor_8 w-full text-center px-4 py-2 mt-2 rounded-md ">Procedimento de Importação</button></a>
                <a href="../static/pdfs/Recebimento_amostra_exterior.pdf" target="_blank"><button class="cor_8 w-full text-center px-4 py-2 mt-2 rounded-md ">Recebimento de Amostra do Exterior</button></a>
                <a href="../static/pdfs/Retorno_mercadoria_exportada.pdf" target="_blank"><button class="cor_9 w-full text-center px-4 py-2 mt-2 rounded-md ">Retorno de Mercadoria Exportada</button></a>
                <a href="../static/pdfs/Solicitacoes_despesas_viagem.pdf" target="_blank"><button class="cor_9 w-full text-center px-4 py-2 mt-2 rounded-md ">Solicitações e Despesas de Viagem</button></a>
                <a href="../static/pdfs/Solicitacao_vistos_tecnicos.pdf" target="_blank"><button class="cor_10 w-full text-center px-4 py-2 mt-2 rounded-md ">Solitação de Vistos Técnicos</button></a>

            </div>
        </nav>

    </div>
 
    <div id="logoContainer" class="logo-container">
        <img src="static/img/logo_jbs.svg" alt="Logo" class="logo-image">
    </div>  
 
    <div class="flex-1 flex flex-col">
        <div id="chatBox" class="flex-1 overflow-y-auto p-4 relative">
            <!-- Mensagem do chat aparece aqui -->
            <p class="bg-green-400 text-white text-left rounded-lg rounded-tl-none p-2 m-2 inline-block hidden">{{ variavel_frontend }}</p>
        </div>
 
        <div id="loanding_container">
            <div class="spinner min-h-12">
                <span>C</span>
                <span>A</span>
                <span>R</span>
                <span>R</span>
                <span>E</span>
                <span>G</span>
                <span>A</span>
                <span>N</span>
                <span>D</span>
                <span>O</span>
            </div>
        </div>
 
        <div id="messageFormContainer">
            <form id="messageForm" action="/submit" method="post" onsubmit="sendMessage(event)">
                <div id="container-prompt" class="border-gray-200 p-6 pb-0 flex items-end gap-2">
                    <textarea id="messageInput" name="inputMessage" class="flex-1 p-2 rounded-l-lg border-2 border-gray-300" placeholder="Escreva sua mensagem aqui..." rows="1"></textarea>
                    <input type="button" value="Enviar" id="sendMessageButton" class="font-bold py-2 text-blue-500 border-2 background-blue-100 border-blue-500 hover:border-blue-300 hover:text-blue-400 px-4 rounded-l-lg align-bottom">
                </div>
            </form>
            <div class="mt-1 mb-3 text-start ml-7">
                <a href="#" id="novo_chat_2" class="text-grey-300 underline"><img src="static/img/reload.svg" alt="Nova conversa" class="inline-block ml-2" style="width: 15px; height: 15px; margin-right: 5px;">Clique aqui para iniciar um novo chat</a>
            </div>
        </div>
    </div>
 
    <script>
        // Exibir erro se a requisição falhar
   
        document.body.classList.add('blurred');

        // Função para esconder a div de erro quando o botão "Tente novamente" for clicado
        document.getElementById('tente_novamente').addEventListener('click', () => {
            document.getElementById('erroOverlay').classList.add('hidden');
            document.getElementById('erroOverlay').classList.remove('blurred');

            window.location.href = '/';
        });

        document.getElementById('loanding_container').style.display = "none";

    </script>
            
</body>
</html>